# Git
.git
.gitignore

# Python
__pycache__/
*__pycache__*
*.__pycache__
*test/__pycache__
*fxdgm/__pycache__
*examples/__pycache__
*examples/ReproduableCode/__pycache__
*.pytest_cache*
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Local build artifacts or large data not needed in the image
build/
dist/
*.tar.gz
*.zip
# any_large_dataset_folders/

# ignore Sphinx documentation output
*docs/build

# Pdf format to ignore figures
*.pdf

# README (markdown) preview files
*README.html
README_files